<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Photo App</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        </div>
        {% include 'includes/suggestions.html' %}
        {% include 'includes/stories.html' %}
        {% include 'includes/cards.html' %}
    </body>
</html>
<!-- To add a feature that lets users easily add alt-text to their images, I would use the ellipsis (...)
     icon to the top right of the image and add an option to add the alt text once the ellipsis is pressed. -->